.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper-btn {
  padding: 10px 20px;
  color: white;
  background: #614101;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.accordian {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-family: lato;
}

.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: white;
  height: auto;
}
